body {
  background-color: rgb(96, 247, 169);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  margin: 0 auto;
  background-color: rgb(239, 124, 214);
  aspect-ratio: 16 / 9;
  width: 100vh;
  height: "auto";
}

.hidden {
  display: none;
}

.panel {
  position: fixed;
  top: 0%;
  left: 70%;
  /* transform: translate(-50%, -50%); */
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
