body {
    background-color: rgb(96, 247, 169);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    margin: 0 auto;
    background-color: rgb(239, 124, 214);
    aspect-ratio: 16 / 9;
    width: 100vh;
    height: "auto";
}